.card {
  border: 2px solid lightgrey;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  margin: 5% auto;
  box-shadow: 4px 4px 2px 0 rgba(0, 0, 0, 0.3);
  transition: width 1s ease;
  background-color: #fff;
}

.card img {
  width: 100%;
}

.card__heading {
  padding: 2% 5% 0 5%;
  font-size: 20px;
}

.card__description {
  display: none;
  width: 80%;
  padding: 3% 5%;
  margin: 0 auto;
  text-align: justify;
}

.card__address {
  display: none;
  padding-top: 2%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.card:hover {
  width: 70%;
}

.card:hover .card__description,
.card:hover .card__address,
.card:hover .post__date {
  display: block;
  padding: 2% 0;
}

.card__category {
  color: grey;
  font-size: 20px;
}

.card__category span,
.card__donation span,
.card__address span {
  color: black;
  font-weight: 600;
}

.card__donation {
  font-size: 20px;
  padding: 2% 0 0 0;
}

.donate__here {
  display: none;
}

.card:hover .donate__here {
  display: block;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  margin: 0 auto;
}

.donate__here:hover {
  background-color: #000;
}

.post__date {
  color: grey;
  font-size: 0.8em;
  /* position: absolute;
  right: 20px;
  bottom: 0px; */
  display: none;
  padding: 0 10%;
}

.post__date__heading {
  font-weight: 600;
}

@media (max-width: 650px) {
  .card__heading {
    font-size: 1.15rem;
  }

  .card__donation {
    font-size: 0.85rem;
  }

  .card__description {
    font-size: 0.85rem;
  }

  .card__category {
    font-size: 0.7rem;
  }

  .card__address {
    font-size: 0.8rem;
  }

  .post__date {
    font-size: 0.7rem;
  }
}

@media (max-width: 340px) {
  .card__heading {
    font-size: 1rem;
  }

  .card__donation {
    font-size: 0.8rem;
  }

  .card__description {
    font-size: 0.7rem;
  }

  .card__category {
    font-size: 0.65rem;
  }

  .card__address {
    font-size: 0.7rem;
  }

  .post__date {
    font-size: 0.7rem;
  }
}
