* {
  padding: 0%;
  margin: 0%;
}

.site__navbar {
  color: dodgerblue;
  text-align: center;
  background-color: white;
  padding: 1% 5%;
}

.site__heading {
  padding: 1% 0%;
}

.site__subtitle {
  letter-spacing: 3px;
  word-spacing: 9px;
}

@media (max-width: 450px) {
  .site__subtitle {
    letter-spacing: 2px;
    word-spacing: 5px;
  }
}

@media (max-width: 400px) {
  .site__subtitle {
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}
